html{
    scroll-behavior: smooth;
}
body{
    padding:0; margin: 0px;
}
nav{
    font-family: 'Oswald', sans-serif; 
    text-align:center; 
    background-color: black;
    padding:25px; 
}
h1{
    font-size: 20pt;
    font-family: 'VALORANT', sans-serif; 
    color: white;
}
#defy{
    font-size: 52pt;
    font-family: 'Oswald', sans-serif; color:black;
}
#creative{
    font-size: 52pt;
    font-family: 'Oswald', sans-serif; 
}
a.nav{
    text-decoration: none; color: white;
}
header{
    padding: 50px; 
    background-color:rgb(194, 52, 52); 
    color: white;
}
p{
    font-family:Roboto;
    padding: 0 50px; color: black;
}
#wht{
    font-family:Roboto;
    padding: 0 50px; color: white;
}
section{
    padding: 0px 50px 0 50px;
}
#agents{
    background-color: rgb(29, 29, 31); 
    color:white; 
    padding: 50px 0; 
}
#img_maps{
    height: 300px; width: 550px;
}
#maps{
    padding: 50px; 
    font-family: Roboto; 
    background-color:rgb(221, 221, 221);
}
video{
    padding: 50px 0 50px 0;
    width: 800px; height: 500px;
}
table{
    color:white;
    font-family: Roboto; 
    width:auto; 
    height:auto;
}
tr{
    text-align:center; padding:20px;
}
#chars{
    height: 300px; width: 200px;
}
article{
    padding: 50px; width:70%; 
}
.td_low{
    padding: 15px; 
}
#label{
    font-size: 42pt;
    font-family: 'Oswald', sans-serif;
    color: black;
}
li, h3{
    color: black; text-align: left;
}
footer{
    padding: 50px; 
    font-family: Roboto; 
    color:white;
    background-color: rgb(22, 22, 22);
}
#footer{
    color: white;
}