html{
	font-family:Arial;
	font-weight:bold; font-size:10pt;
}
div{
	text-align: center; text-transform:uppercase;
	padding: 10px; border: 1px solid rgba(0,0,0,0.3); 
}
.container{
	background-color: #A0A0A0;
	width:80%; margin:auto; display: block;
}
.header{
	background-color:#ededed;
}
.nav{
	background-color: #989898;
}
#sidenav{
	height:70%;
}
.section{
	background-color: #B0B0B0;
}
.section > div{
	margin: 10px 0 10px 0;
}
.section_wrap{
	display: flex; padding:0px;
	margin:10px 0 10px 0; 
	height: 73%; border: none;
}


#s1{
	width:30%; margin-right:5px;
}
#s2{
	width:70%;margin-left:5px;
}
.article{
	background-color:#989898;
}
.para{
	background-color:	#BEBEBE; margin: 10px 0 10px 0;
}
#side{
	float: left;
	width: 70%;
	margin: 0 10px 0 0;
}
.infoot{
	background-color:#ededed;
}
.side_wrap{
	padding: 10px 0 10px 0; display: flex; height:15%; border: none;
}
.aside{
	background-color:#D0D0D0;
	width: 30%;
}