body{
    padding:0; 
    margin: 0px;
    background-color: red;
}
nav{
    font-family: 'Oswald', sans-serif; 
    text-align:center; 
    background-color: black; 
    padding:25px; 
}
h1{
    font-size: 20pt;
    font-family: 'VALORANT', sans-serif; 
    color: white;
}